{% extends 'base.html' %}
{% block title%} Create a user {% endblock%}
{% block content %} 


</ul>
<h2>Edit Your Information</h2>
<form method="POST">
<input type="text" name="First Name" placeholder ="Enter a First name">
<input type="text" name="Last Name" placeholder ="Enter a last name">
<input type="text" name="Image URL" placeholder ="User image url here">
<!-- <button>Save</button> -->


<button class = "cancel-button">Cancel</button>
<button type="submit"class = "save-button">Save</button>
    

         
            
    
</form>

{% endblock %} 
